<div> 
    <div class='graph'> 
        <div> 
            $100,000
        </div>
    <div class=''>
        This is graph
    </div>
    <div>
        <p>Buying Power</p>
        <p>$100,000</p>
    </div>
    </div>
    <div class='news-div'> 
        NEWS 
    </div>
    <div class='stockList-div'>
        
    </div>
</div>
