<h2>Create New Trade</h2>

<form actions='/trades/create' method='post'>

    <label>
        Ticker:
        <input type='text' name='ticker'/>
    </label>

    <label>
        Entry Price
        <input type='number' name='entryPrice' />
    </label>
    <label>
        Entry Date:
        <input type='date' name='dateAdded' />
    </label>


    <label>
        Exit Price:
        <input type='text' name='exitPrice' />
    </label>
    <label>
        Date Exited:
        <input type='date' name='dateExited' />
    </label>


 <button type='submit'>Submit</button>


</form>