<form actions='stock/{{comment._id}}/update' method='post'>
    <label>
        <h3>{{comment.tickerId}}</h3>
        <input type='text' name='newContent' value='{{comment.content}}' />
    </label>
 <button>Save</button>
</form>