

<div class="comment-update-div">
    <form actions='stock/{{comment._id}}/update' method='post'>
        <label>
            <h3>{{comment.tickerId}}</h3>
            <textarea name="newContent" id="" cols="30" rows="10">{{comment.content}}</textarea>
        </label>
        <button>Save</button>
    </form>
</div>
