
<hr class="solid">
<header class="header">
  <div></div>

  <div class="box1">
    <div>
      <h2 class="wta">Welcome to KingTrader</h2>
    </div>
  </div>  

  <div class="box2">
    <div class="inves-text">
        <h4 class="investing-text">Investing For Everyone</h4>
    </div>
  </div>
  </div>
</header>

<hr class="solid">

<section>
  <div >
    <div class="box3">
    <div class="div-span">
        <span class="span-text">Commission-free investing, plus the tools<br>you need to put your money in motion 
            <br>Sign up and get your first stock for free. <br>Certain limitations apply.</span>
    </div>

    <div class="div-button">
      <button class="signup-btn"> <a href="/signup" style="text-decoration: none; color: white">Sign Up</a></button>  
    </div>
</section>

<hr class="solid">

<body class="body76"></body>