<img src="/public/images/graph_data.png" alt="Graphic Chart">
    
    <div class="welcome-text">
        <h3>Welcome to Trading App</h3>
    </div>

<header class="header">
  <div class="box1">
    <div class="inves-text">
        <h5 class="investing-text">Investing for<br>everyone</h5>
    </div>

    <div class="div-span">
        <span class="span-text">Commission-free investing, plus the tools<br>you need to put your money in motion 
            <br>Sign up and get your first stock for free. Certain limitations apply.</span>
    </div>

    <div class="div-button">
      <button class="signup-btn" style="text-decoration: none;" href="/signup">Sign Up</button>  
    </div>

    {{!-- <div class="login-button">
     <a style="text-decoration: none;" href="/login">Login</a>
    </div> --}}
 </div>
</header>


{{!-- <a style="text-decoration: none;" href="/signup">Sign Up</a> --}}

{{!-- {{#if userInSession}}
<h2>Hello {{userInSession.username}}!</h2>
<a href="/dashboard">Dashboard</a>
<a href="/profile">Profile</a>
{{/if}} --}}


{{!-- <p>Trading??</p> --}}

{{#if user}}

<a>SigOut</a>


{{else}}
{{!-- <a href="/login">Login</a>
<a href="/signup"> Sign Up</a> --}}


{{/if}}
