
<a href="/login">Login</a>
<a href="/signup"> Sign Up</a>

{{!-- {{#if userInSession}}
<h2>Hello {{userInSession.username}}!</h2>
<a href="/dashboard">Dashboard</a>
<a href="/profile">Profile</a>
{{/if}} --}}
<p>Trading</p>
{{#if user}}

<a>SigOut</a>


{{else}}
{{!-- <a href="/login">Login</a>
<a href="/signup"> Sign Up</a> --}}


{{/if}}
