<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<a href="/login">Login</a>
<a href="/signup"> Sign Up</a>

{{!-- {{#if userInSession}}
<h2>Hello {{userInSession.username}}!</h2>
<a href="/dashboard">Dashboard</a>
<a href="/profile">Profile</a>
{{/if}} --}}