
<!DOCTYPE html>
<html data-theme="dark">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   <link rel="stylesheet" href="/stylesheets/signin.css">
   <link rel="stylesheet" href="/stylesheets/stock-info.css" />
   <link rel="stylesheet" href="/stylesheets/style.css" />
   <link rel="stylesheet" href="/stylesheets/stockInfo.css" />
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   </head>
   
   <body>
      <script src="index.js"></script>
   </body>
   
   </html>

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>

<body id='main'>

   <nav class="navbar-div-nav">
   <div class="navbar-div">

   <div class='img-div'>
   <a class="navbar-brand" href="/dashboard">
   <img src="/images/logo.png" width="200" height="200" alt="" id='logo'>
      </a>
   </div>
  
{{#if userInSession}}
{{!-- <div class="collapse navbar-collapse" id="navbarNav"> --}}
<div class='nav-menu'>
      <a class='stock-link' href="/dashboard">Home</a>
      <a class='stock-link' href="/news">News</a>
         <a class='stock-link' href="/news">Watchlist</a>
         <a class='stock-link' href="/news">Account</a>
       
</div>
<div class="navbar-search">
   <form action="/stock/quote">
   <div class='searchForm'>
      <input type="text" placeholder=" Search ticker..." name="symbol" class="form-control">
    

   <button type="submit" class="btn btn-primary" ><i class="material-icons">search</i></button>
   </div>
    
   </form>
   <div class="div-login">
      <a style="text-decoration: none;" href="/logout" class="a-login">Logout</a>
   </div>

   {{else}}
   <div class="div-login">
      <a style="text-decoration: none;" href="/login" class="a-login">Log In</a>
   </div>
   {{/if}}
    <div>
      <img src="images/moon.png" alt="" id='icon'>
   </div>
</div>

</div>   
   </nav>

   <div class='body'>
         {{{body}}}


   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
      integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script type="text/javascript" src="/js/stocksPrices.js"></script>

   <script src="/js/getGraph.js"></script>
   <script src="/js/script.js"></script>
   <script>
      var icon = document.getElementById('icon')
      var logo = document.getElementById('logo')
      icon.onclick = function() {
         document.body.classList.toggle('dark-theme')
         if(document.body.classList.contains('dark-theme')){
            icon.src = 'images/sun.png'
            logo.src = '/images/logo-light.png'
           
         } else {
            icon.src = 'images/moon.png'
             logo.src = '/images/logo.png'
         }
      }
   </script>
 
</body>

</html>