</div>

<h2>This is your Dashboard {{user.username}}</h2>

<a href="/profile">Profile</a>
<a href="/trades">Trades</a>
<form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form>

{{!-- <h2>This is your Dashboard {{user.username}}</h2> --}}




<div>

    

