:root {
  --primary-color: white;
  --secondary-color: #212121;
  --border-color: rgb(64, 73, 78);
  --green-color: #17a021;
}

.dark-theme {
  --primary-color: #000106;
  --secondary-color: #fff;
  --third-color: rgb(30, 33, 36);
  --border-color: rgb(64, 73, 78);
  --green-color: #17a021;
}

#main {
  background-color: var(--primary-color);
}
p {
  color: var(--secondary-color);
}

h2 {
  color: var(--secondary-color);
}
h3 {
  color: var(--secondary-color);
}

.line {
  border-top: 1px solid var(--border-color);
}

#logo {
  margin-top: -70px;
}
body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--primary-color);
  margin-bottom: 50px;
}
a {
  color: rgb(64, 73, 78);
}
h1 {
  color: 15px;
}
/* ........................ INDEX.HBS.............................. */

.box-1 {
  background: url("../images/finance_img.jpeg") no-repeat;
  width: 75%;
  background-size: cover;
}
.box-2 {
  background-color: var(--primary-color);
  width: 35%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-page {
  display: flex;
  margin-top: -30px;
  margin-left: -14.33%;
  margin-right: -14.33%;
  height: 600px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;

  padding-top: 60px;
}
#signup-button {
  background-color: var(--green-color);
  width: 200px;
  height: 50px;
  border-radius: 15px;
}
#signup-button:hover {
  background-color: var(--green-color);
}

.landing-button {
  padding-top: 60px;
}
.landing-desc {
  text-align: center;
  font-weight: 200;
}

.box-3 {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  padding-right: 20px;
  padding-left: 20px;
  padding-top: 40px;
}
.box-4 {
  width: 50%;
  background: url("../images/box-4.svg") no-repeat;
  background-size: contain;
}
.features {
  background-color: var(--green-color);
  display: flex;
  margin-left: -14.33%;
  margin-right: -14.33%;
  height: 650px;
}

.box-3-text-title {
  color: white;
  margin-left: 30px;
}
.feature-list {
  padding: 40px;
  margin-left: 40px;
}
.list-item {
  display: flex;
  margin: 25px;
  margin-bottom: 70px;
}
#feature-icon {
  color: white;
  font-size: 20px;
  margin-right: 15px;
}
.feature-text {
  color: white;
  font-weight: 200;
}
.footer {
  background-color: black;
  margin-left: -14.33%;
  margin-right: -14.33%;
  height: 100px;
}
.footer-text {
  color: white;
  text-align: center;
  font-weight: 200;
  font-size: 20px;
}

.footer-div {
  margin-top: 30px;
}

.signup-button {
  background-color: var(--green-color);
  border-color: var(--green-color);
}
#signin-button {
  background-color: var(--green-color);
  border-color: var(--green-color);
}
/* ........................ LAYOUT.HBS.............................. */
.navbar {
  background-color: white;
  padding: 20px;
  margin: 0px;
}
.navbar-search {
  display: flex;
}
.navbar-div {
  padding: 10px;
}
.navbar-search form button {
  background-color: #17a021;
  color: white;
  height: 40px;
  box-shadow: 0;
  border: 1px solid #17a021;
  border-radius: 4px;
  cursor: pointer;
}
.navbar-search form button:hover {
  background-color: #2ff43d;
  color: white;
  height: 40px;
  box-shadow: 0;
  border-radius: 4px;
  border: 1px solid #2ff43d;
}

.searchForm {
  display: flex;
  margin-right: 30px;
}
ul {
  list-style-type: none;
}
li {
  margin-top: 20px;
}
.trading-app {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.a-login {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary-color);
  font-size: 24px;
  margin-right: 80px;
  font-weight: bold;
}
.body {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 30px;
}
.navbar-div {
  display: flex;
  justify-content: space-between;
}
.div-login {
  margin-right: 10px;
}
.dark-mode-toggle {
}
.nav-menu {
  padding: 10px;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  color: black;
}
.nav-link-text {
  color: black;
  font-weight: 700;
  font-size: 30px;
}

/* ........................ NAV BAR 2.............................. */
.navbar2 {
  height: 42px;
  background-color: black;
  margin: 0em;
}

.li-navbar2 {
  font-weight: 600;
  font-size: 25px;
  float: left;
  padding: 0px 50px;
  margin-top: 0em;
  margin-right: 80px;
  margin-left: 8rem;
  text-align: center;
  line-height: 42px;
  height: 42px;
}
.li-navbar2:hover {
  background-color: rgb(157, 157, 157);
  border-radius: 6px;
}

/* .nav-menu {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  color: black;
} */

.nav-link-text {
  color: black;
  font-weight: 700;
}

.stock-link {
  text-decoration: none;
  color: #17a021;
  font-weight: 700;
}
.stock-link:hover {
  text-decoration: none;
  color: #2ff43d;
  font-weight: 700;
}

/* ........................ COMMENT FORM .............................. */

/* .comment-form{
  
} */

/* ........................ CREATE COMMENT FORM .............................. */
/* .create-comment-div{
  
} */

.create-comment-div h2 {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.create-comment-div form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-comment-div form button {
  margin-top: 3px;
  width: 70px;
}

/* ........................ COMMENTS/UPDATE.HBS.............................. */

.comment-update-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.comment-update-div form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-update-div form h3 {
  text-align: center;
}

.comment-update-div form button {
  width: 50px;
}

.comment-update-div form textarea {
  width: 300px;
  height: 75px;
}

/* ........................ SHOW COMMENT.............................. */

.show-comment-div {
  margin-top: 10px;
}

/* Dark Theme */

#icon {
  margin-top: 5px;
  width: 25px;
  cursor: pointer;
}

.img-div {
  height: 50px;
}

.watch-list {
  display: flex;
  justify-content: space-between;
}

.watch-list-text {
  padding-top: 10px;
}

.price {
  color: var(--secondary-color);
}

#addList {
  font-size: 30px;
  color: orange;
  border-color: black;
}

#addList-button {
  background-color: Transparent;
  border-color: Transparent;

  margin-top: -15px;
}

#removeList {
  font-size: 30px;
  color: red;
  border-color: black;
}

#logout-icon {
  color: var(--green-color);
  margin-left: 5px;
  font-size: 27px;
  padding-top: 10px;
}
