{{!-- <h2>Create a new post</h2>

<button><a href="{{currentUrl}}">Go Back</a></button>

<form action="/post-create" method="POST">
  <label> Stock:
    <input type="text" name="stock" />
  </label>
  <br>

  <label> Content:
    <textarea type="text" name="content"> </textarea>
  </label>
  <br>

  <label for="author-select"> Created by:
    <select name="author">
      <option disable selected value=""></option>
      {{#each dbUsers}}
        <option value="{{this._id}}"> {{this.username}} </option>
      {{/each}}
    </select>
  </label>
  <br>

  <button type="submit"> Create the post </button>
</form> --}}