<nav class="navbar2">
<ul class="ul-navbar2">
    <li class="li-navbar2"><a style="text-decoration: none; color:white" href="../news">News</a></li>
    <li class="li-navbar2"><a style="text-decoration: none; color:white" href="../news/merger">Merger</a></li>
    <li class="li-navbar2"><a style="text-decoration: none; color:white" href="../news/forex">Forex</a></li>
</ul>
</nav>
<hr>
<h2>This Is Crypto News</h2>
<hr>
{{#each news}}

    <h4>{{headline}}</h4>
    <p>{{summary}}...<a href={{url}}>read more</a></p>
    <img src={{image}} alt="">
    <hr>

{{/each}}